body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
.biru{
    background-color: #003570;
    color: white;
}
.kuning{
    color: #FFC600
}
#nama{
    font-size: 8pt;
}
.logodq{
    height: 45px;
    margin-left: 18px;
    margin-bottom: 5px;
}
.search {
    /* margin-left: 35%; */
}
.btn-outline-biru {
    background-color: white;
    color: #003570;
    border-radius: 10%;
}
.spacer{
    margin-top: 110px;
}
.slider{
    margin-top: 110px;
    margin-bottom: 30px;
}
.btn-outline-biru:hover{
    background-color: #FFC600;
    color: white;
}
.carousel-indicators .active{
    background-color: #FFC600
}

/* Responsive */
@media (max-width: 767.98px) {
    .search{
        display: none;
    }
    .logodq{
        height: 45px;
        margin-left: 0;
    }
    #nama{
        display: none;
    }
}
@media (min-width: 992px){
    
} 