html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
.nav .active{
    border-width:3px;  
    border-bottom: 3px solid #FFC600;
    display: table-cell;
    text-transform: uppercase;
}
.nav a:hover{
    text-align: center;
    border-bottom: 3px solid #FFC600;
    display: table-cell;
    text-transform: uppercase;
}
.biru{
    background-color: #003570;
    color: white;
}
.kuning{
    color: #FFC600
}
#nama{
    font-size: 8pt;
}
.logodq{
    height: 45px;
    margin-left: 18px;
    margin-bottom: 5px;
}
.btn-outline-biru {
    background-color: white;
    color: #003570;
    border-radius: 10%;
}
.spacer{
    margin-top: 110px;
}
.slider{
    margin-top: 110px;
    margin-bottom: 30px;
}
.btn-outline-biru:hover{
    background-color: #FFC600;
    color: white;
}
.carousel-item img{
    height: 500px;
    width: 1100px;
}
.carousel-indicators .active{
    background-color: #FFC600
}
.carousel-control-prev,
.carousel-control-next{
    margin-left: 10%;
    margin-right: 10%;
}
.headerberita{
    margin-top: 100px;
}
.headerberita h4{
    text-align: center;
    border-bottom: 3px solid #003570;
    display: table-cell;
    text-transform: uppercase;
}
.headergal{
    margin-top: 100px;
}
.headergal h4{
    text-align: center;
    border-bottom: 3px solid #FFC600;
    display: table-cell;
    text-transform: uppercase;
}
.judul{
    color: #003570;
}
.photos img {
    height: 120px;
    float: left;
    display: block;
    margin: 2px;
    border: 0px;
    margin-left: 2px;
} 
.photos {
    width: 100%;
} 
.photo-gallery {
    width: 100%;
}

.video{
    height: 100%;
}

/* Responsive */
@media (max-width: 767.98px) {
    .headerberita{
        margin-top: 50px;
    }
    .spacer{
        margin-top: 110px;
    }
    .carousel-item img{
        height: 150px;
        width: 280px;
    }
    .search{
        display: none;
    }
    .logodq{
        height: 45px;
        margin-left: 0;
    }
    #nama{
        display: none;
    }
    .nav a:hover{
        border-width:0px;  
        border-color: #FFC600;
        border-bottom-style:solid;
    }
    .photos img {
        height: 50px;
        float: left;
        display: block;
        margin: 1px;
        border: 0px;
        margin-left: 1px;
    }
}